@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif";
}

@layer base {
  body {
    font-family: var(--font-inter);
  }

  /* Desktop Hero Text Size */
  .text-hero {
    font-size: clamp(80px, 13vw, 240px);
    line-height: 0.85;
    letter-spacing: -0.05em;
  }

  /* Mobile Hero Text Size */
  .text-hero-mobile {
    font-size: 17vw;
    line-height: 0.85;
    letter-spacing: -0.06em;
  }

  html {
    scroll-behavior: smooth;
  }
}
